{% extends "home/base.html" %}
{% load static %}



{% block content %}


<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(static/images/slide-01.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Women Collection 2018
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                NEW SEASON
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="{% url 'store-page' %}"
                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(static/images/slide-02.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Men New-Season
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Jackets & Coats
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="{% url 'store-page' %}"
                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(static/images/slide-03.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Men Collection 2018
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                New arrivals
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="{% url 'store-page' %}"
                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{% static 'images/banner-01.jpg' %}" alt="IMG-BANNER">

                    <a href="{% url 'store-page' %}"
                        class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Classic
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2018
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER">

                    <a href="{% url 'store-page' %}"
                        class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Elegent
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2018
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="{% static 'images/banner-03.jpg' %}" alt="IMG-BANNER">

                    <a href="{% url 'store-page' %}"
                        class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Beauty
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                New Trend
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">

        </div>

        <div class="row isotope-grid">

            {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women product-data">
                <input type="hidden"  value="{{product.id}}" class="prod-id">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{ product.images.url}}" alt="IMG-PRODUCT">

                        <a href="#"
                            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1 quickview">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="{{product.get_url}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{product.product_name}}
                            </a>

                            <span class="stext-105 cl3">
                                ₹ {{product.price}}
                            </span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a  class="btn-addwish-b2 dis-block pos-relative js-addwish-b  wishlist">
                                <img class="icon-heart1 dis-block trans-04"
                                    src="{%static 'images/icons/icon-heart-01.png' %}" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                    src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal1 -->
            

            {% endfor %}
         
            <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
                <div class="overlay-modal1 js-hide-modal1"></div>

                <div class="container">
                    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                        <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                            <img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
                        </button>

                        <div class="row">
                            <div class="col-md-6 col-lg-7 p-b-30">
                                <div class="p-l-25 p-r-30 p-lr-0-lg">
                                    <div class="wrap-slick3 flex-sb flex-w">
                                        <div class="wrap-slick3-dots"></div>
                                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                        <div class="slick3 gallery-lb">
                                            <div class="item-slick3" data-thumb="images/product-detail-01.jpg">
                                                <div class="wrap-pic-w pos-relative" >
                                                    <img id="image1" alt="IMG-PRODUCT">

                                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                        href="" >
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                </div>
                                            </div>
 
                                            <div class="item-slick3" data-thumb="images/product-detail-02.jpg">
                                                <div class="wrap-pic-w pos-relative" >
                                                    <img id="image2" alt="IMG-PRODUCT">

                                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                        href="images/product-detail-02.jpg">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="item-slick3" data-thumb="images/product-detail-03.jpg" >
                                                <div class="wrap-pic-w pos-relative" >
                                                    <img id="image3" alt="IMG-PRODUCT">

                                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                        href="images/product-detail-03.jpg">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-5 p-b-30">
                                <div class="p-r-50 p-t-5 p-lr-0-lg">
                                    <h4 class="mtext-105 cl2 js-name-detail p-b-14"  id ="productname">
                                        {{product.product_name}}
                                    </h4>

                                    <span class="mtext-106 cl2">
                                        ₹ <strong id = "product_price"></strong>
                                    </span>

                                    <p class="stext-102 cl3 p-t-23">
                                        Nulla sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat
                                        ornare feugiat.
                                    </p>

                                    <!--  -->
                                    <div class="p-t-33">
                                        
                                        

                                        
                                    </div>

                                    <!--  -->
                                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                        <div class="flex-m bor9 p-r-10 m-r-11">
                                            <a href="#"
                                                class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                                                data-tooltip="Add to Wishlist">
                                                <i class="zmdi zmdi-favorite"></i>
                                            </a>
                                        </div>

                                        <a href="#"
                                            class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                                            data-tooltip="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>

                                        <a href="#"
                                            class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                                            data-tooltip="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>

                                        <a href="#"
                                            class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                                            data-tooltip="Google Plus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         




        </div>



    </div>
</section>

<script>
 

 [...document.getElementsByClassName('quickview')].forEach(function (e){
    e.addEventListener('click', function(){
        console.log('khgjhg')
        id = Number(this.getAttribute('value'))
        var prod_id= $(this).closest('.product-data').find('.prod-id').val();
    
        

        
        
        console.log(prod_id)
        
        
        $.ajax({
            
            url:'quickview/',
            method:'GET',
            dataType: 'json',
            data: {
                "prod_id":prod_id,
                
                
                
            },
            success:(response) => {
                console.log(response.product_name)
                console.log(response.product_price)
                console.log(response.image1)
                console.log(response.image2)
                console.log(response.image3)

                document.getElementById('productname').textContent = response.product_name
                document.getElementById('product_price').textContent = response.product_price
                document.getElementById('image1').src = response.image1
                document.getElementById('image2').src = response.image2
                document.getElementById('image3').src = response.image3
                // $('#image1').append('<img src="'+response['image1']+'" />')
                // $('#image2').append('<img src="'+response['image2']+'" />')
                // $('#image3').append('<img src="'+response['image3']+'" />')
                
                // total=response.total
                // itemtotal= response.itemtotal
                // cartitem_id=response.cartitem_id
                // console.log(cartitem_id)
                // $("#sub_total-"+cartitem_id).text(itemtotal);
                // // $('#total').text(total)
                // document.getElementById('total').textContent = total
                // document.getElementById('tax').textContent = response.tax
                // document.getElementById('grand-total').textContent = response.grand_total
                // document.getElementById('discount').textContent = response.discount 
           }
        })
    })
})


</script>


{% endblock content %}