{% extends "home/base.html" %}
{% load static %}


{% block content%}



<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
  <div class="container">
    <div class="flex-w flex-tr">
      <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
        <h4 class="card-title mb-4" style="text-align: center;">Billing Address</h4>
        <div class="card ">
          <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">

            <form action="{% url 'order'%}" method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md form-group">
                  <label for="">First Name</label>
                  <input type="text" name="first_name" class="form-control" required>
                </div>
                <div class="col-md form-group">
                  <label for="">Last Name</label>
                  <input type="text" name="last_name" class="form-control" required>
                </div>
              </div>
              <div class="form-row">
                <!-- <div class="col-md form-group">
                  <label for="">Email</label>
                  <input type="email" name="email" class="form-control" required>
                </div> -->
                <div class="col-md form-group">
                  <label for="">Phone Number</label>
                  <input type="text" name="phone" class="form-control" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md form-group">
                  <label for="">Address Line 1</label>
                  <input type="text" name="address_line_1" class="form-control" required>
                </div>
                <div class="col-md form-group">
                  <label for="">Address Line 2</label>
                  <input type="text" name="address_line_2" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md form-group">
                  <label for="">City</label>
                  <input type="text" name="city" class="form-control" required>
                </div>
                <div class="col-md form-group">
                  <label for="">State</label>
                  <input type="text" name="state" class="form-control" required>
                </div>
                <div class="col-md form-group">
                  <label for="">Country</label>
                  <input type="text" name="country" class="form-control" required>
                </div>
              </div>
              <div class="form-row">
                <label for="">Order Note</label>
                <textarea name="order_note" rows="2" class="form-control"></textarea>
              </div>


          </div>
        </div>
      </div>

      <div class="size-210 bor10 p-lr-10 p-t-70 p-b-70 p-lr-15-lg w-full-md">
        
        <table class="table checkout-table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              
            </tr>
          </thead>
          <tbody>
            {% for item in cartitems %}
            <tr>
              <td>
                <div class="product-info d-flex">
                <div class="aside">
                <img src="{{ item.product.images.url }}" class="img-sm" style="width: 50px;">
                </div>
                <figcaption style="margin-left: 10px;">
                {{item.product.product_name}} 
                <p class="text-muted small" style="text-align: start;">
                {{item.variation.variation_value}}
                </p></td>
                </figcaption>
               </div>
              <td>{{item.quantity}}</td>
              <td>
                <div> 
                <var class="price">₹ {{ item.get_total }}</var>
                <small class="text-muted" style="display: block;"> ₹ {{ item.product.price }} each </small>
              </div>
              </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
       
        <div class="amount"  style="display: flex; justify-content: space-between; margin-top: 65px;">
          <h2>Amount</h2>
          <!-- <h4 class="coln" style="margin-left: 10px;">:</h4> -->
          <h2>₹ {{total}}</h2>
           
        </div>

        <div class="totalamount"  style="display: flex; justify-content: space-between; margin-top: 25px;">
          <h2>Tax</h2>
          <!-- <h4 class="coln" style="margin-left: 10px;">:</h4> -->
          <h2>₹ {{tax}}</h2>
           
        </div>





        <div class="discount"  style="display: flex; justify-content: space-between; margin-top: 20px;">
          <h2>Discount</h2>
          <!-- <h4 class="coln" style="margin-left: 10px;">:</h4> -->
          <h2 class="text-success b">-₹ {{discount}}</h2>
           
        </div>

        <div class="totalamount"  style="display: flex; justify-content: space-between; margin-top: 25px;">
          <h2>Grand total</h2>
          <!-- <h4 class="coln" style="margin-left: 10px;">:</h4> -->
          <h2 class=" text-dark b">₹ {{grand_total}}</h2>
           
        </div>

        <button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer  mt-5"> Confirm Order </button>

      </div>
    </div>
  </div>
</section>



{% endblock content%}